/************************* GENERAL *************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    /* max-width: 1440px;
    height: auto; */
}
h1{
    font-size: 21px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
a{
    text-decoration: none;
}
/***********************************************************/
/************************* HEADER **************************/
#header{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 0.25fr 1fr 0.25fr 1fr;
    grid-template-rows: 132px;
    grid-template-areas: "logo . nav-hebergement . nav-activites . nav-inscription";
    margin: 0 50px;
}
.header-logo{
    display: flex;
    grid-area: logo;
}
.header-nav-hebergement{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav-hebergement;
    padding: 0 10px;
    border-top: 2px solid #0065fc;
}
.header-nav-activites{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav-activites;
    padding: 0 10px;
}
.header-nav-inscription{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav-inscription;
    padding: 0 10px;
}
.header-nav-hebergement a:hover, .header-nav-activites a:hover, .header-nav-inscription a:hover{
    color: #0065fc;
    font-weight: bold;
}
.nav-hebergement{
    color: #0065fc;
    text-decoration: none;
}
.nav-activites{
    color: #000;
    text-decoration: none;
}
.nav-inscription{
    color:#0065fc;
    text-decoration: none;
}
/*********************************************************************/
/************************* SECTION RECHERCHE *************************/

/* Recherche */
#search-hebergement{
    margin: 0 50px;
}
#search-hebergement h1{
    margin-bottom: 10px;
}
.search-text {
    margin-bottom: 12px;
}

/* Barre de recherche */
.search-barre{
    display: flex;
}
.search-icone-map{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
}
.search-barre-texte{
    width: 220px;
}
input[type="text"]{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    outline-style: none;
    border: none;
    /* width: 234px; */
    height: 51px;
    padding: 0 0 0 17px;
    font-size: 16px;
    font-weight: bold;
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 51px;
    width: 134px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background-color: #0065fc;
}
/* Je masque l'icône loupe en Desktop */
.search-icone-loupe{
    display: none;
}

/* Les boutons de filtres */
.search-filters{
    display: flex;
    margin: 31px 0 35px 0;
    width: 100%;
}
.search-filters-titre{
    display: flex;
    align-items: center;
    padding: 0 30px 0 10px;
}
.search-filters-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    height: 50px;
    margin: 0 12px;
    color: #000;
}
.search-filter-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #deebff;
}
.search-filter-icone .fas{
    color: #0065fc;
}
.search-filter-eco{
    width: 190px;
}
.search-filter-familial{
    width: 190px;
}
.search-filter-romantique{
    width: 190px;
}
.search-filter-dog{
    width: 250px;
}
/* .search-filter-eco a:hover{
    background-color: #deebff;
    font-weight: bold;
} */

.search-filters-text span{
    margin: 0 auto;
}
/* Résultats */
.search-result{
    display: flex;
    margin-top: 35px;
}
.search-result-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 2px solid #f2f2f2;
    border-radius: 30px; 
}
.search-result-icone .fas{
    color: #0065fc;
}
.search-result-text{
    display: flex;
    align-items: center;
}
/***********************************************************************/
/************************* SECTION HEBERGEMENT *************************/
/* Hebergements + Les + populaires */
#hebergement{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.etoile-bleue{
    color: #0065fc;
}
.etoile-grise{
    color: #f2f2f2;
}
/* Hebergement à Marseille */
.hebergement{
    width: 100%;
    height: 626px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 0 40px;
    margin-top: 37px;
    margin-right: 40px;
}
.hebergement h2{
    width: auto;
    font-size: 16px;
    margin: 47px 0 23px 0;
}
.hebergement-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.hebergement-card{
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    width: 18vw;
}
.hebergement-img img{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 12px;
}
.photo-heb{
    width: 100%;
    height: 114px;
}
.hebergement-card-text, .hebergement-card-notation{
    margin: 8px 0 0 16px;
    width: 100%;
    font-size: 12px;
}
.hebergement-afficher a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.hebergement-afficher a:hover{
    color: #0065fc;
}
/* Les plus populaires */
.hebergements-pop{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    /* width: auto; */
    width: 40%;
    height: 626px;
    padding: 0 40px;
    margin-top: 37px;
    border-radius: 15px;
}
.hebergement-pop-titre{
    display: flex;
    justify-content: space-between;
}
.hebergement-pop h2{
    font-size: 16px;
    margin: 47px 0 23px 0;
}
.hebergement-pop-icone{
    margin: 47px 0 23px 0;
}
.hebergement-pop-card{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 23px;
}
.hebergement-pop-img img{
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 22px;
}
.hebergement-pop-card-text, .hebergement-pop-card-notation{
    margin-top: 19px;
    width: auto;
    font-size: 12px;
}
.photo-pop{
    width: 127px;
    height: 134px;
    /* height: 134.05px; */
}
/*********************************************************************************/
/************************* SECTION ACTIVITES A MARSEILLE *************************/
#activites{
    margin: 0 50px;
    width: auto;
}
#activites h2{
    margin-top: 66px;
    margin-bottom: 27px;
    font-weight: bold;
}
.activites-marseille{
    display: flex;
    justify-content: space-between;
}
.activite-contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 43px;
}
.activite-contenu img{
    width: 100%;
    object-fit: cover;
}
.img-act-marseille img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.contenu{
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
    color: black;
}
.contenu h3{
    margin: 23px 0 20px 20px;
    width: auto;
    font-size: 12px;
}
.img-activ1, .img-activ4{
    height: 389px;
}
.img-activ2{
    height: 180px;
}
.img-activ3{
    height: 109px;
}
.img-activ5, .img-activ6{
    height: 153px;
}
/*********************************************************************************/
/********************************* PIED DE PAGE **********************************/
#footer{
    margin-top: 61px;
    background-color: #f2f2f2;
}
.footer-blocs{
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: auto;
    margin: 0 50px;
}
.footer-blocs h4{
    margin-bottom: 5px;
}
.footer-bloc-contenu{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-right: 200px;
}
.footer-bloc-contenu li{
    margin-top: 8px;
    margin-bottom: 8px;
    list-style-type: none;
}
.footer-bloc-contenu a{
    text-decoration: none;
    color: black;
}
/*********************************************************************************/
/********************************** RESPONSIVE ***********************************/
@media screen and (max-width: 1439px){
/***** SECTION HEBERGEMENT *****/
    /* Hebergements + Les + populaires */
    #hebergement{
      flex-direction: column; 
      margin: 0;
      
    }
    .hebergement{
        margin-right: 0;
        background-color: #fff;
        border-radius: 0;
    }
    /* Les plus populaires */
    .hebergements-pop{
        order: -1;
        flex-direction: column;
        height: auto;
        width: 100%;
        border-radius: 0;
    }
    .hebergement-pop-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    /* Hebergement à Marseille */
    .hebergement-cards{
        justify-content: space-between;
    }
    .hebergement-card{
        /* background-color: #fff;
        border-radius: 15px;
        padding: 5px; */
        width: 100%;
    }
    .hebergement-card-text, .hebergement-card-notation{
        width: 100%;
    }
/***** SECTION ACTIVITES A MARSEILLE*****/
    .activites-marseille{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .activite-contenu{
        width: 45%;
        height: 45%;
        margin-right: auto;
    }
    .activite-contenu img{
        width: 100%;
    }
/*************************/
/***** PIED DE PAGE *****/
    .footer-blocs{
        height: auto;
    }
}
@media screen and (max-width: 917px){
    /***** SECTION HEBERGEMENT *****/
    /* Hebergement à Marseille */
    .hebergement-cards{
        flex-flow: wrap column;
    }
    .hebergement-card{
        margin-bottom: 23px;
    }
    .photo-heb{
        width: 100%;
    }
    .hebergement{
        height: auto;
    }
    /* Filtres */
    .search-filters{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "Filtres Filtres"
        "eco fam"
        "rom rom"
        "dog dog";
        margin-top: 21px;
    }
    .search-filters h2{
        grid-area: Filtres;
        font-size: 18px;
        margin: 0;
    }
    .search-filter-eco{
        grid-area: eco;
        font-size: 12px;
        padding: 0 11px 13px 0;
        width: auto;
    }
    .search-filter-familial{
        grid-area: fam;
        font-size: 12px;
        padding-bottom: 13px;
        width: auto;
    }
    .search-filter-romantique{
        grid-area: rom;
        font-size: 12px;
        width: 47%;
    }
    .search-filter-dog{
        grid-area: dog;
        font-size: 12px;
        width: 70%;
    }
    .search-filters-text{
        margin: 0;
    }
    .search-filters-text span{
        margin: 0 auto;
    }
}
@media screen and (max-width: 810px){
    .footer-blocs{
        flex-direction: column;
        height: auto;
        width: auto;
        
    }
}





